celery=={{ pillar['versions']['celery'] }}
GDAL=={{ pillar['versions']['GDAL'] }} --global-option="build_ext" --global-option="-I/usr/include/gdal"
{% if pillar['sentry'] %}
raven=={{ pillar['versions']['raven'] }}
{% endif %}
https://github.com/BCCVL/org.bccvl.movelib/archive/{{ pillar['versions']['org.bccvl.movelib'] }}.tar.gz#egg=org.bccvl.movelib-{{ pillar['versions']['org.bccvl.movelib'] }} [http,scp,swift]
https://github.com/BCCVL/org.bccvl.tasks/archive/{{ pillar['versions']['org.bccvl.tasks'] }}.tar.gz#egg=org.bccvl.tasks-{{ pillar['versions']['org.bccvl.tasks'] }} [metadata]
