pip==7.1.2
celery=={{ pillar['versions']['celery'] }}
GDAL=={{ pillar['versions']['GDAL'] }} --global-option=build_ext --global-option="-I/usr/include/gdal"
{% if pillar['sentry'] %}
raven=={{ pillar['versions']['raven'] }}
{% endif %}
-e org.bccvl.movelib[http,scp,swift]
-e org.bccvl.tasks[metadata]
