{% set celery_version = pillar['versions']['celery'] %}
{% set tasks_version = pillar['versions']['org.bccvl.tasks'] %}

celery=={{ celery_version }}
https://github.com/BCCVL/org.bccvl.tasks/archive/{{ tasks_version }}.tar.gz#egg=org.bccvl.tasks-{{ tasks_version }}
