@charset "utf-8";
/* CSS Document */
body {
	-webkit-font-smoothing: antialiased;
    -moz-osx-font-smoothing: grayscale;
}

@font-face {
	font-family: 'OpenSansLight';
	src: url('/_error/OpenSans-Light-webfont.eot');
	src: url('/_error/OpenSans-Light-webfont.eot?#iefix') format('embedded-opentype'),
		 url('/_error/OpenSans-Light-webfont.woff') format('woff'),
		 url('/_error/OpenSans-Light-webfont.ttf') format('truetype'),
		 url('/_error/OpenSans-Light-webfont.svg#OpenSansLight') format('svg');
	font-weight: normal;
	font-style: normal;

}

@font-face {
	font-family: 'OpenSansLightItalic';
	src: url('/_error/OpenSans-LightItalic-webfont.eot');
	src: url('/_error/OpenSans-LightItalic-webfont.eot?#iefix') format('embedded-opentype'),
		 url('/_error/OpenSans-LightItalic-webfont.woff') format('woff'),
		 url('/_error/OpenSans-LightItalic-webfont.ttf') format('truetype'),
		 url('/_error/OpenSans-LightItalic-webfont.svg#OpenSansLightItalic') format('svg');
	font-weight: normal;
	font-style: normal;

}

@font-face {
	font-family: 'OpenSansRegular';
	src: url('/_error/OpenSans-Regular-webfont.eot');
	src: url('/_error/OpenSans-Regular-webfont.eot?#iefix') format('embedded-opentype'),
		 url('/_error/OpenSans-Regular-webfont.woff') format('woff'),
		 url('/_error/OpenSans-Regular-webfont.ttf') format('truetype'),
		 url('/_error/OpenSans-Regular-webfont.svg#OpenSansRegular') format('svg');
	font-weight: normal;
	font-style: normal;

}

@font-face {
	font-family: 'OpenSansItalic';
	src: url('/_error/OpenSans-Italic-webfont.eot');
	src: url('/_error/OpenSans-Italic-webfont.eot?#iefix') format('embedded-opentype'),
		 url('/_error/OpenSans-Italic-webfont.woff') format('woff'),
		 url('/_error/OpenSans-Italic-webfont.ttf') format('truetype'),
		 url('/_error/OpenSans-Italic-webfont.svg#OpenSansItalic') format('svg');
	font-weight: normal;
	font-style: normal;

}

@font-face {
	font-family: 'OpenSansSemibold';
	src: url('/_error/OpenSans-Semibold-webfont.eot');
	src: url('/_error/OpenSans-Semibold-webfont.eot?#iefix') format('embedded-opentype'),
		 url('/_error/OpenSans-Semibold-webfont.woff') format('woff'),
		 url('/_error/OpenSans-Semibold-webfont.ttf') format('truetype'),
		 url('/_error/OpenSans-Semibold-webfont.svg#OpenSansSemibold') format('svg');
	font-weight: normal;
	font-style: normal;

}

@font-face {
	font-family: 'OpenSansSemiboldItalic';
	src: url('/_error/OpenSans-SemiboldItalic-webfont.eot');
	src: url('/_error/OpenSans-SemiboldItalic-webfont.eot?#iefix') format('embedded-opentype'),
		 url('/_error/OpenSans-SemiboldItalic-webfont.woff') format('woff'),
		 url('/_error/OpenSans-SemiboldItalic-webfont.ttf') format('truetype'),
		 url('/_error/OpenSans-SemiboldItalic-webfont.svg#OpenSansSemiboldItalic') format('svg');
	font-weight: normal;
	font-style: normal;

}

@font-face {
	font-family: 'OpenSansBold';
	src: url('/_error/OpenSans-Bold-webfont.eot');
	src: url('/_error/OpenSans-Bold-webfont.eot?#iefix') format('embedded-opentype'),
		 url('/_error/OpenSans-Bold-webfont.woff') format('woff'),
		 url('/_error/OpenSans-Bold-webfont.ttf') format('truetype'),
		 url('/_error/OpenSans-Bold-webfont.svg#OpenSansBold') format('svg');
	font-weight: normal;
	font-style: normal;

}

@font-face {
	font-family: 'OpenSansBoldItalic';
	src: url('/_error/OpenSans-BoldItalic-webfont.eot');
	src: url('/_error/OpenSans-BoldItalic-webfont.eot?#iefix') format('embedded-opentype'),
		 url('/_error/OpenSans-BoldItalic-webfont.woff') format('woff'),
		 url('/_error/OpenSans-BoldItalic-webfont.ttf') format('truetype'),
		 url('/_error/OpenSans-BoldItalic-webfont.svg#OpenSansBoldItalic') format('svg');
	font-weight: normal;
	font-style: normal;

}

@font-face {
	font-family: 'OpenSansExtrabold';
	src: url('/_error/OpenSans-ExtraBold-webfont.eot');
	src: url('/_error/OpenSans-ExtraBold-webfont.eot?#iefix') format('embedded-opentype'),
		 url('/_error/OpenSans-ExtraBold-webfont.woff') format('woff'),
		 url('/_error/OpenSans-ExtraBold-webfont.ttf') format('truetype'),
		 url('/_error/OpenSans-ExtraBold-webfont.svg#OpenSansExtrabold') format('svg');
	font-weight: normal;
	font-style: normal;

}

@font-face {
	font-family: 'OpenSansExtraboldItalic';
	src: url('/_error/OpenSans-ExtraBoldItalic-webfont.eot');
	src: url('/_error/OpenSans-ExtraBoldItalic-webfont.eot?#iefix') format('embedded-opentype'),
		 url('/_error/OpenSans-ExtraBoldItalic-webfont.woff') format('woff'),
		 url('/_error/OpenSans-ExtraBoldItalic-webfont.ttf') format('truetype'),
		 url('/_error/OpenSans-ExtraBoldItalic-webfont.svg#OpenSansExtraboldItalic') format('svg');
	font-weight: normal;
	font-style: normal;

}

@font-face{
  font-family:"FrutigerNextBlack";
  src:url("/_error/frutiger_next_black.eot");
  src:url("/_error/frutiger_next_black.eot#iefix") format("eot"),
      url("/_error/frutiger_next_black.svg") format("svg"),
      url("/_error/frutiger_next_black.woff") format("woff"),
      url("/_error/frutiger_next_black.ttf") format("truetype");
  font-weight: 900;
}
.open, .open strong {
	font-family: "OpenSansRegular";
	font-weight:normal;
}
.open em {
	font-family: "OpenSansItalic";
}
.open.semi, .open strong {
	font-family: "OpenSansSemibold";
}
.open.semi em, .open strong em {
	font-family: "OpenSansSemiboldItalic";
}
.open.semi strong, .open.bold {
	font-family: "OpenSansBold";
}
.open.semi strong em, .open.bold em{
	font-family: "OpenSansBoldItalic";
}
.open.bold strong {
	font-family: "OpenSansExtrabold";
}
.open.bold strong em {
	font-family: "OpenSansExtraboldItalic";
}
.open.book {
	font-family: 'OpenSansLight';
}
.open.book em {
	font-family: 'OpenSansLightItalic';
}

/* DEFAULT FONTS */
h1, h2, h3, h4, h5, h6 {
	/*font-family: "Rockwell";
	font-weight:normal;*/
	font-family: "OpenSansLight";
	font-weight:normal;
	line-height: 1.25em;
	margin: .5em 0 .25em;
}
h1 strong, h2 strong, h3 strong, h4 strong, h5 strong, h6 strong {
	font-family: "OpenSansRegular"!important;
	font-weight:normal!important;
}
body, p, ul, ol {
	font-family: "Helvetica", Arial, sans-serif;
	font-weight:normal;
	color:#333;
}
p, ul, ol {
	color:#222;
}
body strong, p strong, ul strong, ol strong {
	font-weight: bold!important;
	font-family: "Helvetica", Arial, sans-serif;
}
.red {
	color:#ed1c24;
}
.black {
	color:#2c2f2f;
}
.grey {
	/*color:#;*/
}
dt {
	font-weight: normal;
	font-family: "OpenSansSemibold";
}
